# General Gitignore File
###############################################
## Design: Sketch and Figma Files  ##
###############################################
*.sketch
*.fig

###############################################
## Compiler / Precompiler Files ##
###############################################
*.xd
*.map
CSS/*.map
styles/*.map


###############################################
## Dependecy Managment / Task Runner  ##
###############################################

*.config

node_modules/*
*/node_modules

###############################################
## Optional npm cache directory  ##
###############################################
.npm 

###############################################
## Others  ##
###############################################
.DS_Store
.prettierignore
.doc
